@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: rgb(207, 177, 207);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
}

#container{
    background-color:#fff;
    width: 500px;
    height:min-content;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    box-shadow: 0px 0px 10px 3px purple;
    border-radius: 5px;
}

.searchWord{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 1.5rem;
}

.showResult{
    display: flex;
    justify-content: space-around;
}

.searchResult{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 70%;
}

#inputWord{
    width: 85%;
    padding: 4px 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(7, 7, 58);
    font-size: 1.1rem;
}

#submit{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: rgb(7, 7, 58);
    color: #fff;
    border-radius: 5px;
    padding: 2px 10px;
}

.audio i{
    cursor: pointer;
    font-size: 1.1rem;
}

.audio i:hover{
    color: red;
    transition-duration: 0.3s;
}